*{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    border-radius: 10px;
}


body{
    max-width: 700px;
    margin: 0 auto;
    margin-top: 300px;
    margin-bottom: 300px;
    background-color: rgb(115, 84, 112);
}

.rules_container,
.answers
{
    border-color:rgb(115, 84, 112);
    border-width: 5px;
    border-style: solid; 
    font-size: 20px; 
}

.rules_card,
.content,
.finish_card,
.leadership_card  {
    background-color:rgb(166, 134, 163);
    padding: 15px;
    color: rgb(49, 35, 48);
    margin-top: 10px;
}

.rules_title,
#question
 {
    text-align: center;
    font-size:25px;
}

.answers {
    background-color: rgb(166, 134, 163);
    align-content: center;

}
.rules_wrapper {
    padding : 5px
    }

.timer,
.title,
.btn_card,
.refresh_card

 {
    margin: 5px;
    margin-bottom: 5px;
    background-color:rgb(49, 35, 48);
    display: flex;  
    justify-content: center;  
    align-items: center;  
}

.title,
.timer {
    color:rgb(166, 134, 163);
}

.title,
.timer,
#start_btn,
.refresh-button {
    font-size: 25px;
    padding: 10px;
}

#start_btn,
.refresh-button {
    background-color:rgb(115, 84, 112);
    color: rgb(30, 21, 29);
    
}

h2 {
    font-size: 25px;
    text-align: center;
}

select {
    width: 635px;
    text-align: center;
    background-color:rgb(234, 200, 231); 
    height: 100px;
    color: rgb(49, 35, 48);
}

input {
    height: 50px;
    width: 100%;
    padding: 6px;
    margin-top: 10px;
    font-size:20px ;
    border: 5px solid rgb(115, 84, 112);
    text-align: center;
}

label {
    text-align: center;
}

.leadership_card {
    margin-top: 10px;
}
